<article>
  <h2><%= @note.title %></h2>

  <em>
    <%= publish_date %>,
    <%= word_count %> words
  </em>

  <section>
    <% if show_contents? %>
      <h3>Contents</h3>
        <%= table_of_contents %>
      <hr />
    <% end %>
    <%= rendered_body %>
  </section>
</article>
