<article>
  <section>
    &nbsp;
    <%= render 'shared/nav' %>
  </section>
  <h2 class='note-title'><%= @note.title %></h2>

  <div class='microtext'>
    <%= publish_date %>,
    <%= word_count %> words
  </div>

  <section>
    <% if show_contents? %>
      <h3>Contents</h3>
        <%= table_of_contents %>
      <hr />
    <% end %>
    <%= rendered_body %>
  </section>
</article>
